<div class="whole-header" [class]="modeHeader" >
    <div class="right-part">
        <div class="logo">
            <h1 class="logo-title" [class]="modeText">Oojo</h1>
        </div>
        <div class="header-button">
            <button mat-button class="normal-button" [class]="modeText">جستجوی استاد</button>
        </div>
    </div>
    <div class="left-part">
        <div class="header-button">
            <button mat-button class="normal-button" style="margin-left: 10px;" [class]="modeText">ثبت نام</button>
        </div>
        <div class="header-button">
            <button mat-button class="normal-button" style="border: 2px solid white;box-shadow:  0 3px 4px 0 rgba(0, 0, 0, 0.4); background-color: rgb(6, 153, 205) !important;" >ورود</button>
        </div>
    </div>
</div>