<div style="display: flex;text-align: right;background-color: aquamarine;justify-content: space-around;">
    <div >
        <h3>دسترسی سریع</h3>
        <mat-icon>call</mat-icon>0912....
    </div>
    <div style="margin-left: 5px;">
        <h3>راهنمای سایت</h3>
        <br>
        <a>راهنمای استاد</a>
        <br>
        <a>راهنمای زبان آموز</a>
        <br>
        <a>قوانین سایت</a>
        <br>
        <a>سوالات متداول</a>
    </div>

    <div style="margin-left: 5px;">
        <h3>دسترسی سریع</h3>
        <br>
        <a>جستجوی استاد</a>
        <br>
        <a>وبلاگ</a>
        <br>
        <a>تماس با ما</a>
    </div>

    <div style="margin-left: 5px;">
        <h2>oojo</h2>
        <p>
            بستر آموزش آنلاین
        </p>
    </div>  
</div>