@font-face{
  font-family: 'Sahel-Black';
  src: url('/assets/fonts/Sahel-Black-FD.ttf');
}
@font-face{
  font-family: 'Sahel-Bold';
  src: url('/assets/fonts/Sahel-Bold-FD.ttf');
}
@font-face{
  font-family: 'Sahel';
  src: url('/assets/fonts/Sahel-FD.ttf');
}
@font-face{
  font-family: 'Diplomat';
  src: url('/assets/fonts/Far_Diplomat.ttf');
}
